<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanoteam.unalix">
	<uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="Unalix"
        android:theme="@style/AppTheme">
        <activity
			android:name=".activities.ClearURLActivity"
			android:exported="true"
			android:label="Clean URL"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
			android:name=".activities.UnshortURLActivity"
			android:exported="true"
			android:label="Unshort URL"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
			android:name=".activities.CopyToClipboardActivity"
			android:exported="true"
			android:label="Copy to clipboard"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
        	android:label="Settings"
			android:name=".activities.SettingsActivity"
			android:launchMode="singleTop"
			android:alwaysRetainTaskState="true">
        </activity>
        <activity
        	android:label="Unalix"
			android:name=".activities.MainActivity"
			android:exported="true"
			android:launchMode="singleInstance"
			android:alwaysRetainTaskState="true"
			android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
			android:name=".services.UnalixService"
			android:label="Unalix service"
			android:process=":unalixprocess"
			android:exported="false" />
    </application>
</manifest>
