<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanoteam.unalix"
    android:versionCode="1"
    android:versionName="0.1">
    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="31" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="Unalix"
        android:theme="@style/LigthTheme">
        <activity
			android:name=".ClearURLActivity"
			android:exported="true"
			android:label="Clean URL"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
			android:name=".UnshortURLActivity"
			android:exported="true"
			android:label="Unshort URL"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
			android:name=".CopyToClipboardActivity"
			android:exported="true"
			android:label="Copy to clipboard"
			android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
        	android:label="Settings"
			android:name=".SettingsActivity"
			android:launchMode="singleInstance"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
        	android:label="Unalix"
			android:name=".MainActivity"
			android:exported="true"
			android:launchMode="singleInstance"
			android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
			android:name=".UnalixService"
			android:label="Unalix service"
			android:process=":unalixprocess"
			android:exported="false"
        />
    </application>
</manifest>
