<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.INTERNET" />
	<application
		android:allowBackup="true"
		android:name=".core.CoreApplication"
		android:icon="@mipmap/ic_launcher"
		android:label="Unalix"
		android:theme="@style/AppTheme">
		<activity
			android:name=".activities.CleanURLActivity"
			android:exported="true"
			android:label="Clean URL">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
		</activity>
		<activity
			android:name=".activities.UnshortURLActivity"
			android:exported="true"
			android:label="Unshort URL">
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/*" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" />
				<data android:scheme="https" />
			</intent-filter>
		</activity>
		<activity
			android:label="Settings"
			android:name=".activities.SettingsActivity" />
		<activity
			android:label="Unalix"
			android:name=".activities.MainActivity"
			android:exported="true"
			android:windowSoftInputMode="adjustResize" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service
			android:name=".services.UnalixService"
			android:exported="false"
			android:label="Unalix service"
			android:process=":unalixprocess" />
	</application>
</manifest>
